/* Wrapper for the flex row */
.layout-wrapper {
  display: flex;
  height: 30vh; /* Row height takes up 20% of the viewport */
  /* padding: 10px; Padding around the whole layout */
  /* gap: 20px; Even spacing between the main columns */
  gap: 1rem;
  align-items: stretch; /* Make both sides the same height */
  justify-content: space-between; /* Even spacing between the main columns */
  width: 100%;
  margin-top: 1rem;
}

/* First box (taking up 60% of the width) */
.main-box {
  width: 60%;
  border-radius: 15px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  padding: 1rem;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Second box (containing 3 smaller boxes, takes up 40% of the width) */
.column-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Even spacing between column elements */
  /* gap: 2px; Adds spacing between the boxes */
  /* overflow: scroll; */
}

.small-box {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  flex-grow: 0;
  /* height: auto; */
  /* flex-shrink: 1; */
  /* width: 100%; */
  width: auto;
}

/* Flex container for two RoundedBox components */
.rounded-box-container {
  display: flex;
  gap: 20px; /* Space between the two boxes */
  justify-content: space-evenly; /* Ensures the boxes are placed side-by-side */
  /* align-items: stretch; */
  width: 100%;
  margin-top: 1rem;
  /* align-content: stretch; */
}
